{#{{ dump(data) }}#}

<div class="welcome_slides">
    {% for slider in data %}

        <!-- Single Slide Start -->
        <div class="single_slide" style="background-image: url({{ file_url(slider.field_image.entity.uri.value)}});">
            <div class="slide_text">
                <div class="table">
                    <div class="table_cell">
                        <h3>{{ slider.field_description.value | raw}}</h3>
                        {% if(slider.field_link.0.title) %}
                            <a  target="_blank" class="btn btn-default" href="{{ slider.field_link.0.url }}" role="button">{{ slider.field_link.0.title}}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slide Start -->
    {% endfor %}
</div>