<div id="infinite_scroll" style="display: none">
    <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="single_latest_news_area wow fadeInUp" data-wow-delay=".2s">
            <!-- single latest news thumb -->
            <div class="single_latest_news_img_area">
                <img src="" alt="">
                <!-- single latest news published date -->
            </div>
            <div class="single_latest_news_text_area">
                <!-- single latest news title -->
                <div class="news_title">
                    <a href="single.html"><h4 class="blog_title">We dream of a sustainable economy where SME is the core.</h4></a>
                </div>
                <div class="author_name_comments">
                    <div class="author">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <p>Jerin Ikbal</p>
                    </div>
                    <div class="comments">
                        <i class="fa fa-comments" aria-hidden="true"></i>
                        <p>12</p>
                    </div>
                </div>
                <!-- single latest news excerp -->
                <div class="news_content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="cls-scroller" id="#infinite_scroll">
            <!-- Section Heading Start -->
            <div class="section_heading">
                <p>our creative info</p>
                <h3>latest news</h3>
            </div>
            <!-- Section Heading End -->
        </div>
    </div>
    <div class="row">
    </div>
    <!-- end. row -->
</div>
<!-- end. container -->
