
{%
set classes = [
'node',
'node--type-' ~ node.bundle|clean_class,
node.isPromoted() ? 'node--promoted',
node.isSticky() ? 'node--sticky',
not node.isPublished() ? 'node--unpublished',
view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
'clearfix',
]
%}
{{ attach_library('classy/node') }}
<!-- Single Service Area Start -->
<div class="col-sm-6 col-md-4 col-lg-3">
    <div class="single_service wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
        <!-- Single Service image -->
        <div class="single_service_img">
            {{ content.field_feature_image }}
        </div>
        <!-- Single Service title -->
        <div class="single_service_title">
            <h4>{{ label }}</h4>
        </div>
        <!-- Single Service content -->
        <div class="single_service_content">
            <div class="table">
                <div class="table_cell">
                    {{ content }}
                </div>
            </div>
        </div>
        <div class="learn_more">
            <a data-toggle="modal" href="{{ url }}"><h4>Learn More</h4></a>
        </div>
    </div>
</div>
