

<body class="dark_version">
<!-- preloader start -->
<div id="preloader"></div>
<!-- /.end preloader -->

<!-- ***************** Header Start ***************** -->
<header class="header_area">
    <!-- Main Header Area Start -->
    <div class="main_header_area" id="sticky">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-xs-9">
                    <!-- Logo Area:: For better view in all device please use logo image max-width 70px -->
                    <div class="logo_area">
                        <a href="{{ url('<front>')  }}"><img src="{{ logo }}" alt=""></a>
                    </div>
                </div>

                <div class="col-sm-10 col-xs-12">
                    <!-- Menu Area Start -->
                    <div class="main_menu_area">
                        <div class="mainmenu">
                            {{ page.primary_menu }}
                        </div>

                    </div>
                    <!-- Menu Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Main Header Area End -->
</header>
<!-- ***************** Header End ***************** -->
<div class="map_contact_address_area">
    <!-- Map Area Start -->
    <div class="map_area" id="googleMap"></div>
</div>
{% if(page.highlighted ) %}
    <div>
        {{ page.highlighted }}
    </div>
{% endif %}
<!-- ************** About Us Area Start ************** -->
<section class="about_area" id="about">
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <div class="col-xs-12 col-md-12 section_padding_100 wow fadeInUp">
                    <div>
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end./ container -->
</section>
<!-- ***************** Message Now Area Start ***************** -->

<!-- ************** Footer Area Start ************** -->
<footer class="footer_area">
    <!-- Bottom Footer Area Start -->
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="footer_bottom wow fadeInDown" data-wow-delay=".2s">
                        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="#">holuquockhai</a></p>
                    </div>
                    <!-- Bottom Footer Copywrite Text Area End -->
                </div>
            </div>
            <!-- end./ row -->
        </div>
        <!-- end./ container -->
    </div>
    <!-- Bottom Footer Area End -->
</footer>
<!-- ************** Footer Area End ************** -->

<!-- ************** All jQuery Plugins ************** -->



</body>