<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <!-- Single Feature Area Start -->
            <div class="single_feature wow fadeInUp" data-wow-delay=".2s">
                <div class="bg-icon">
                    <span class="icon-tools"></span>
                </div>
                <div class="feature_img">
                    <span class="icon-tools"></span>
                </div>
                <!-- Single Feature Image Area End -->
                <div class="feature_text">
                    <h5>Investment Planning</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                </div>
                <!-- Single Feature Text Area End -->
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <!-- Single Feature Area Start -->
            <div class="single_feature wow fadeInUp" data-wow-delay=".4s">
                <div class="bg-icon">
                    <span class="icon-gift"></span>
                </div>
                <div class="feature_img">
                    <span class="icon-gift"></span>
                </div>
                <!-- Single Feature Image Area End -->
                <div class="feature_text">
                    <h5>Business Advisor</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                </div>
                <!-- Single Feature Text Area End -->
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <!-- Single Feature Area Start -->
            <div class="single_feature wow fadeInUp" data-wow-delay=".6s">
                <div class="bg-icon">
                    <span class="icon-genius"></span>
                </div>
                <div class="feature_img">
                    <span class="icon-genius"></span>
                </div>
                <!-- Single Feature Image Area End -->
                <div class="feature_text">
                    <h5>Educational Support</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                </div>
                <!-- Single Feature Text Area End -->
            </div>
        </div>

        <div class="col-sm-6 col-md-3">
            <!-- Single Feature Area Start -->
            <div class="single_feature wow fadeInUp" data-wow-delay=".8s">
                <div class="bg-icon">
                    <span class="icon-adjustments"></span>
                </div>
                <div class="feature_img">
                    <span class="icon-adjustments"></span>
                </div>
                <!-- Single Feature Image Area End -->
                <div class="feature_text">
                    <h5>Financial Planning</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, explicabo.</p>
                </div>
                <!-- Single Feature Text Area End -->
            </div>
        </div>
    </div>
</div>