<div class="cool_fact_text wow fadeInUp" data-wow-delay=".2s">
    <h3><span class="counter">3250</span>+</h3>
    <h5>Happy Clients</h5>
</div>
<!-- Single Fact Start  -->
<div class="cool_fact_text wow fadeInUp" data-wow-delay=".4s">
    <h3><span class="counter">31</span>+</h3>
    <h5>Team Advisor</h5>
</div>
<!-- Single Fact Start  -->
<div class="cool_fact_text wow fadeInUp" data-wow-delay=".6s">
    <h3><span class="counter">1975</span>+</h3>
    <h5>Hours of Works</h5>
</div>
<!-- Single Fact Start  -->
<div class="cool_fact_text wow fadeInUp" data-wow-delay=".8s">
    <h3><span class="counter">764</span>+</h3>
    <h5>Project Completed</h5>
</div>
<!-- Single Fact Start  -->
<div class="cool_fact_text wow fadeInUp" data-wow-delay="1s">
    <h3><span class="counter">2591</span>+</h3>
    <h5>Cup of Coffee</h5>
</div>